.App {
    text-align: center;
}

.error-flag {
    color: red;
}

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }
body {
    font-family: "Inter", Arial, Helvetica, sans-serif;
}

.form-label {
    display: block;
    font-weight: 500;
    font-size: 16px;
    color: #07074d;
    margin-bottom: 12px;
}

.form-input {
    width: 100%;
    padding: 12px 24px;
    border-radius: 6px;
    border: 1px solid #e0e0e0;
    background: white;
    font-weight: 500;
    font-size: 16px;
    color: #6b7280;
    outline: none;
    resize: none;
}
.form-input:focus {
    border-color: #6a64f1;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.btn:hover {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.flex {
    display: flex;
}
.flex-wrap {
    flex-wrap: wrap;
}
.w-full {
    width: 100%;
}
@media (min-width: 540px) {
    .sm\:w-half {
        width: 50%;
    }
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.card-header {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.form-control {
    border-radius: 4px;
    border: 1px solid #ced4da;
    padding: 10px;
}

.btn-primary {
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #0056b3;
}

pre {
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 4px;
    overflow-x: auto;
}

/* Additional styles for the input fields */
.mb-3 label {
    font-weight: bold;
}

/* Add some space between the two columns */
.row > div {
    margin-bottom: 40px;
}

/* Media Queries for responsiveness */
/* For desktop screens */
@media (min-width: 768px) {
    .card {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .card-body {
        flex: 1;
        margin-left: 20px;
    }
}

/* For mobile screens */
@media (max-width: 767px) {
    .card-body {
        margin-top: 20px;
    }
}

.text-name-file{
    font-weight: 500;
    font-size: 16px;
}

